@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  background-color: white;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
  }
  .header__container {
    width: 100%;
    display: block;
  }

  .header .header__perfil {
    display: none;
  }

  .header .header__nav ul {
    display: block;
  }

  .header .header__nav ul li {
    height: 50px;
  }

  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero__details {
    margin-top: 10px;
    text-align: center;
  }
  .hero .hero__container .hero__details > div {
    justify-content: center;
  }

  .hero__perfil--image-container {
    width: 30vh;
    height: auto;
  }

  .main__projects {
    width: 100%;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
