:root {
  --color-light: #dce1de;
  --color-dark: #1f2421;
  --color-primary: #49a078;
  --color-primary-light: #9cc5a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
}

.bg-image {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  filter: blur(15rem);
  background-image: url('https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  opacity: 0.2;
}

.header {
  width: 100vw;
  height: 6.3rem;
}

.header .header__container {
  width: inherit;
  height: inherit;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__btn-menu {
  width: 3rem;
  height: inherit;
  background: none;
  border: none;
  outline: none;
  color: var(--color-primary-light);
  font-size: 2.5rem;
}

.main,
.section {
  width: 100%;
}

.section {
  padding: 3rem 5rem;
}

.titles {
  width: 100%;
}

.titles .titles__slogan {
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--color-light);
}

.titles .titles__job {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--color-primary-light);
}

.nav-bottom {
  width: inherit;
  height: 5.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-dark);
}

.nav-bottom ul {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--color-light);
}

.nav-bottom ul li {
  width: 33.3%;
  height: inherit;
}

.nav-bottom ul li a {
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  text-decoration: none;
}

.nav-bottom i {
  font-size: 2rem;
}

.nav-bottom span {
  font-size: 1rem;
  font-weight: normal;
}

.section__top-bar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__name {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-light);
}

.view-more {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-primary);
}

.carrousel {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
}

.carrousel .carrousel__item {
  width: 22rem;
  height: 25rem;
  position: relative;
  border-radius: 0.5rem;
  background: rgba(31, 36, 33, 0.8);
  border-radius: 0.5rem;
  overflow: hidden;
}

.carrousel .carrousel__item-img {
  width: inherit;
  height: inherit;
}

.carrousel__item-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.carrousel__item .carrousel__item-info {
  width: 100%;
  height: 8rem;
  padding: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.carrousel__item .carrousel__item-info::before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: rgba(220, 225, 222, 0.5);
  backdrop-filter: blur(5rem);
}

.carrousel__item .carrousel__item-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-dark);
}

.carrousel__item .carrousel__item-description {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-dark);
}
