@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  background-color: white;
}

#burger-btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  z-index: 2;
  color: #2b4162;
}

@media screen and (max-width: 1024px) {
  .main__projects {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #burger-btn {
    display: block;
  }

  .header {
    height: auto;
    background-color: #2b2a2c;
  }

  .header__container {
    width: 100%;
    display: block;
  }

  .header .header__perfil {
    display: none;
  }

  .header .header__nav ul {
    display: block;
    position: fixed;
    top: -100%;
    left: 0px;
    width: 100vw;
    z-index: 1;
    background-color: #2b2a2c;
  }

  .header .header__nav ul.menu-active {
    top: 0;
    transition: 200ms;
  }

  .header .header__nav ul li {
    height: 50px;
  }

  .header .header__nav ul li a {
    color: #f1f0ee;
  }

  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .header__nav .menu__contact {
    color: #f1f0ee;
    border-color: #f1f0ee;
  }

  .hero__details {
    margin-top: 10px;
    text-align: center;
  }
  .hero .hero__container .hero__details > div {
    justify-content: center;
  }

  .hero__perfil--image-container {
    width: 30vh;
    height: auto;
  }

  .main__projects {
    width: 100%;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 480px) {
  .main__projects {
    width: 100%;
    grid-template-columns: auto;
  }

  .footer {
    height: auto;
  }

  .footer__container {
    width: auto;
    text-align: center;
    flex-direction: column;
    padding: 0 10px;
  }

  .footer__release {
    height: 20px;
    margin-top: 10px;
  }

  .footer__social-network {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__social-network a {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .footer__social-network img {
    height: inherit;
  }
}

@media screen and (max-width: 320px) {
  .hero .hero__perfil {
    display: none;
  }
}
